$margin: 10px;
$margin-lr: 1%;
$padding-footer: 2vh;
.mdl-layout__header-row {
  padding-left: 16px;
}

svg {
  margin-top: $margin;
  margin-left: $margin-lr;
  margin-right: $margin-lr;
  margin-bottom: $margin;
}

.mdl-button--floating-action {
  $diameter: 40px;
  position: absolute;
  right: $padding-footer;
  bottom: $padding-footer;
  z-index: 998;
  .material-icons {
    font-size: 20px;
  }
  min-width: 0;
  width: $diameter;
  height: $diameter;
}

d3-bar div {
  text-align: left;
  .bar {
    background-color: #c5d4ff;
    padding: 3px;
    margin: 1px;
    color: black;
    white-space: nowrap;
  }
}

d3-range {
  $w: 175px;
  font-size: 0.8em;
  width: $w;
  div.chart {
    width: $w - 10px;
    display: block;
    div {
      height: 4px;
      &.active {
        background-color: #0eff03;
        color: black;
      }
      &.inactive {
        background-color: #4c7d47;
        color: white;
      }
    }
  }
}

d3-range, d3-bar {
  width: 350px;
  margin: $margin/4;
}

$rightColumnSize: 350px;
#right {
  position: absolute;
  right: 0;
  top: $margin;
  width: $rightColumnSize;

}

#left {
  margin-right: $rightColumnSize;
  height: 100%;
}

svg#d3_1 {
  width: 100% - 2*$margin-lr;
  height: 100vh-9*$padding-footer;

  @media screen and (max-height: 880px) {
    height: 97vh-9*$padding-footer;
  }
  @media screen and (max-height: 810px) {
    height: 96vh-9*$padding-footer;
  }
  @media screen and (max-height: 700px) {
    height: 95vh-9*$padding-footer;
  }
  @media screen and (max-height: 620px) {
    height: 94vh-9*$padding-footer;
  }
  @media screen and (max-height: 555px) {
    height: 90vh-9*$padding-footer;
  }
  @media screen and (max-height: 500px) {
    height: 85vh-9*$padding-footer;
  }
}

footer.mdl-mini-footer {
  padding-top: $padding-footer;
  padding-bottom: $padding-footer;
}

header {
  .mdl-layout__header {
    min-height: 0;
    max-height: inherit;

    .mdl-layout__header-row {
      height: 4*$padding-footer;
    }
  }
}