$margin: 10px;
$margin-lr: 1%;

.mdl-layout__header-row {
  padding-left: 16px;
}

svg {
  margin-top: $margin;
  margin-left: $margin-lr;
  margin-right: $margin-lr;
}

.mdl-button--floating-action {
  position: absolute;
  right: 24px;
  bottom: 24px;
  padding-top: 24px;
  margin-bottom: 0;
  z-index: 998;
}

d3-bar div {
  text-align: left;
  .bar {
    background-color: #c5d4ff;
    padding: 3px;
    margin: 1px;
    color: black;
    white-space: nowrap;
  }
}

d3-range {
  $w: 175px;
  font-size: 0.8em;
  width: $w;
  div.chart {
    width: $w - 10px;
    display: block;
    div {
      height: 8px;
      &.active {
        background-color: #0eff03;
        color: black;
      }
      &.inactive {
        background-color: #4c7d47;
        color: white;
      }
    }
  }
}

d3-range, d3-bar {
  width: 350px;
  margin: $margin/4;
}

$rightColumnSize: 350px;
#right {
  position: absolute;
  right: 0;
  top: $margin;
  width: $rightColumnSize;

}

#left {

  margin-right: $rightColumnSize;
}

.clear {
  clear: both;
}

svg#d3_1 {
  width: 100% - 2*$margin-lr;
  height: 78vh;
  min-height: 300px;
}