svg {
  .node {
    stroke: black;
    stroke-width: 1.5px;
  }

  .link {
    stroke: black;
    stroke-width: 1.5px;
    fill: none;
  }
}

.flexbox {
  display: flex;
  align-content: space-between;
}

.mdl-layout__header-row {
  padding-left: 16px;
}

.mdl-button--floating-action {
  position: absolute;
  right: 24px;
  bottom: 24px;
  padding-top: 24px;
  margin-bottom: 0;
  z-index: 998;
}

.page-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  div, d3-bar, d3-boxplot, d3-force {
    max-width: 450px;
  }
}

d3-bar div {
  width: 400px;
  text-align: left;
  .bar {
    background-color: #c5d4ff;
    padding: 3px;
    margin: 1px;
    color: black;
    white-space: nowrap;
  }
}