<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <script src="lib/angular.js"></script>
    <script src="lib/d3.min.js"></script>
    <script src="lib/dagre-d3.min.js"></script>
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
    <script src="https://code.getmdl.io/1.1.3/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="js/index.js"></script>
    <script src="js/bars.js"></script>
    <script src="a-d3/d3-graph.js"></script>
    <link rel="stylesheet" type="text/css" href="app.css">
    <meta charset="UTF-8">
    <title>Test</title>
    <style id="css">
        text {
            font-weight: 300;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
            font-size: 14px;
        }

        .node rect {
            stroke: #999;
            fill: #fff;
            stroke-width: 1.5px;
        }

        .edgePath path {
            stroke: #333;
            stroke-width: 1.5px;
        }

    </style>
</head>
<body ng-app="PjDke" ng-controller="TestController as tCtrl">
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Process Miner</span>
        </div>
    </header>
    <main class="mdl-layout__content" ng-cloak>
        <div id="left">
            <svg id="d3_1" class="item" data-d3-graph data-d3-data="{{graphData}}"></svg>
        </div>
        <div id="right">
            <div>
                <div class="limit item"><p>Nodes: {{graphData.nodes.length}}&emsp;&nbsp;&emsp;&nbsp;&emsp;&nbsp;
                    Links: {{graphData.links.length}}</p></div>
                <div class="limit item">
                    Coverage: {{updatePercentUI()}}%
                    <!-- Slider with Starting Value -->
                    <input ng-init="minCoverage = 0" ng-model="minCoverage"
                           id="slider" class="mdl-slider mdl-js-slider" tabindex="0"
                           type="range" step="0.1" min="0" max="100">
                    <!-- Numeric Textfield -->
                    <div id="textInput" class="mdl-textfield mdl-js-textfield">
                        <input ng-model="variant" class="mdl-textfield__input" type="text"
                               pattern="[0-9]+(,[0-9]+)*"
                               id="varId">
                        <label class="mdl-textfield__label" for="varId">Variant number:</label>
                        <span class="mdl-textfield__error">Input is not a number!</span>
                    </div>
                    <div class="flexbox">
                        <form action="">
                            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="optCnt">
                                <input type="radio" ng-model="labeltype" id="optCnt" class="mdl-radio__button"
                                       name="options" value="Count" checked>
                                <span class="mdl-radio__label">Count</span>
                            </label>
                            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="optTime">
                                <input type="radio" id="optTime" class="mdl-radio__button" name="options"
                                       ng-model="labeltype" value="Time">
                                <span class="mdl-radio__label">Duration</span>
                            </label>
                        </form>
                    </div>
                </div>
            </div>
            <d3-range class="item" d3-data="boxplotData"></d3-range>
            <d3-bar class="item" d3-data="barchartData"></d3-bar>
        </div>
    </main>
    <!-- Colored FAB button with ripple -->
    <button ng-click="reset()"
            class="mdl-button--floating-action mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
        <i class="material-icons">replay</i>
    </button>
    <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
            <div class="mdl-logo">© US 2016+</div>
            <ul class="mdl-mini-footer__link-list">
                <li>PL DKE SS16 G3</li>
            </ul>
        </div>
    </footer>
</div>
</body>
</html>